<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 - Not Found</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<h2>Sorry, not found :(</h2>
<p class="notFoundParagraph">

    We're really sorry, but the page you are trying to visit has not been found.</p>
<span class="navItems">
    <p class="notFoundParagraph">You can back to <a class="notFoundLinks" href="/drinks">Drinks</a> and choose another drink! </p>
     <p class="notFoundParagraph">Or go to  <a class="notFoundLinks" href="/ingredients">Ingredeints</a> and find ingredients that might inspire you! </p>
  </span>
</body>
</html>