<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<div clas="wrapper">
  <div>
    <h2 th:text="${drink.name}" ></h2>
  </div>

  <div class="ingredientDescBox">
    <h1>Description</h1>
    <p class="ingredientDescription" th:text="${drink.description}"></p>
  </div>


  <div class="ingredientDescBox">
    <h1>Ingredients:</h1>
    <ul th:each="ingredient: ${drink.ingredients}">
      <li  th:text="${ingredient.name}"> </li>
    </ul>
  </div>

  <div class="editDrinkButtons">
    <span>
      <button class="drinkOperationButton">
              <a class="editDrinkOperationButtonLink"  href="/add-drink">Edit</a>
      </button>
    </span>

    <span>
      <button class="drinkOperationButton" >
              <a class="editDrinkOperationButtonLink"  th:href="@{'/delete-drink/{id}'(id=${drink.id})}">Delete</a>
      </button>
    </span>


  </div>


</div>

<div class="navBar">
  <span class="navItems">
    <a class="navItemsLinks" href="/add-drink">Add New Drink</a>
  </span>
  <span class="navItems">
    <a class="navItemsLinks" href="/add-ingredient">Add New Ingredient</a>
  </span>
  <span class="navItems">
    <a class="navItemsLinks" href="/drinks">Drinks</a>
  </span>
  <span class="navItems">
    <a class="navItemsLinks" href="/ingredients">Ingredients</a>
  </span>
</div>


</body>
</html>