<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Składniki</title>
</head>
<body>
<h2>Drinki</h2>
<table>
    <tr th:each="drink: ${drinks}" >
        <td class="itemNameOnList" th:text="${drink.name}"></td>
        <td class="editItemOnList">
            <a class="editItemOnListLink" th:href="@{'/drink/{id}'(id=${drink.id})}">Zobacz</a>
        </td>
        <td class="editItemOnList">
            <a class="editItemOnListLink" th:href="@{'/drink/{id}'(id=${drink.id})}">Edytuj</a>
        </td>
        <td class="editItemOnList">
            <a class="editItemOnListLink" th:href="@{'/drink/{id}'(id=${drink.id})}">Usuń</a>
        </td>
    </tr>

</table>