<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" href="/styles/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data" th:object="${drink}">

    <h2>Dodaj drinka </h2>



    <label>Nazwa <br> <input th:field="*{name}" name="name"></label> <br><br>
    <label>Opis <br> <input th:field="*{description}" name="description"></label> <br><br>

    <label for="ingredient">Składnik</label>
    <select id="ingredient" th:field="*{ingredients}" required>
        <option value="" hidden>Wybierz składnik1</option>
        <option th:each="ingredient: ${allIngredients}"  th:value="${ingredient}" th:text="${ingredient.name}"></option>
    </select>


    <input type="submit" value="Wyślij">

</form>
</body>
</html>