<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Składniki</title>
</head>
<body>
<h2>Drinks</h2>

<table>
    <h3 th:if="${drinks.isEmpty()}">There are no drinks available! </h3>
    <tr th:unless="${drinks.isEmpty()} "th:each="drink: ${drinks}" >
        <td class="itemNameOnList" th:text="${drink.name}"></td>
        <td class="editItemOnList">
            <a class="editItemOnListLink" th:href="@{'/drink/{id}'(id=${drink.id})}">View</a>
        </td>
        <td class="editItemOnList">
            <a class="editItemOnListLink" th:href="@{'/edit-drink/{id}'(id=${drink.id})}">Edit</a>
        </td>
        <td class="editItemOnList">
            <a class="editItemOnListLink" th:href="@{'/delete-drink/{id}'(id=${drink.id})}">Delete</a>
        </td>
    </tr>

</table>

<div class="navBar">
    <fieldset>
        <legend><a class="navItemsLinksMenu" href="/">Menu</a></legend>
        <span class="navItems">
    <a class="navItemsLinks" href="/add-drink">New Drink</a>
  </span>
        <span class="navItems">
    <a class="navItemsLinks" href="/add-ingredient">New Ingredient</a>
  </span>
        <span class="navItems">
    <a class="navItemsLinks" href="/drinks">Drinks</a>
  </span>
        <span class="navItems">
    <a class="navItemsLinks" href="/ingredients">Ingredients</a>
  </span>
    </fieldset>

</div>