<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script type="text/javascript">
    </script>
</head>
<body>
<div clas="wrapper">
    <div>
        <h2 th:text="${drink.name}"></h2>
    </div>

    <div class="ingredientDescBox">
        <h1>Description</h1>
        <div id="ingredientDescContent">
            <p class="ingredientDescription" th:text="${drink.description}"></p>
        </div>

    </div>

    <div class="ingredientDescBox">

        <h1>Ingredients</h1>

        <table th:object="${drink}">

            <tr th:each="ingredient: *{ingredients}">

                <!--      <td class="noDisplay" th:if="${ingredient.id == 1}"></td>-->
                <td class="relatedItemNameOnList" th:if="${ingredient.id != 1}" th:text=" ${ingredient.name}"></td>

                <td class="noDisplay" th:if="${ingredient.id == 1}"></td>
                <td class="editRelatedItemOnListLink">
                    <a class="editRelatedItemOnListLink" th:if="${ingredient.id != 1}"
                       th:href="@{'/ingredient/{id}'(id=${ingredient.id})}">View</a>
                </td>
            </tr>
        </table>

    </div>

    <div class="opinionBox">
        <div class="noDisplay" th:if="${drink.opinions.isEmpty()}"></div>
        <h1 th:unless="${drink.opinions.isEmpty()}">Opinions</h1>


        <table th:object="${drink}">
            <div class="noDisplay" th:if="${drink.opinions.isEmpty()}"></div>
            <tr th:unless="${drink.opinions.isEmpty()}">
                <th class="opinionHeader">Nickname</th>
                <th class="opinionHeader">Opinion</th>
                <th class="opinionHeader">Rate</th>
            </tr>

            <tr class="opinionBoxHeadLess" th:each="opinion: *{opinions}">
                <td class="opinionDetailRow" th:text=" ${opinion.nickname}"></td>

                <td class="opinionDetailRow">
                    <div class="opinionDetailContentRow" th:text=" ${opinion.content}"></div>
                </td>
                <td class="opinionDetailRow" id=opinionDetailRateRow th:text=" ${opinion.rate}"></td>
            </tr>


        </table>

    </div>

    <div class="editDrinkButtons">
    <span>
      <button class="drinkOperationButton">
              <a class="editDrinkOperationButtonLink" th:href="@{'/edit-drink/{id}'(id=${drink.id})}">Edit</a>
      </button>
    </span>

        <span>
      <button class="drinkOperationButton">
              <a class="editDrinkOperationButtonLink" th:href="@{'/add-opinion/{id}'(id=${drink.id})}">Rate</a>
      </button>
    </span>


        <span>
      <button class="drinkOperationButton" id="DeleteButton">
              <a class="editDrinkOperationButtonLink" th:href="@{'/delete-drink/{id}'(id=${drink.id})}">Delete</a>
      </button>
    </span>


    </div>


</div>

<div class="navBar">
    <fieldset>
        <legend><a class="navItemsLinksMenu" href="/">Menu</a></legend>
        <span class="navItems">
    <a class="navItemsLinks" href="/add-drink">New Drink</a>
  </span>
        <span class="navItems">
    <a class="navItemsLinks" href="/add-ingredient">New Ingredient</a>
  </span>
        <span class="navItems">
    <a class="navItemsLinks" href="/drinks">Drinks</a>
  </span>
        <span class="navItems">
    <a class="navItemsLinks" href="/ingredients">Ingredients</a>
  </span>
    </fieldset>

</div>


</body>
</html>