<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" href="/styles/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data"  th:object="${drink}">
    <div class="addNewDrink">
        <h2>Dodaj drinka </h2>
        <fieldset>
            <div class="createNewDrink">
                <fieldset>
                    <legend>Detail</legend>
                    <label>Name <br> <input class="detailsOfItem" th:field="*{name}" ></label> <br><br>
                    <p th:errors="*{name}" class="error"></p>
                    <label>Description <br> <textarea th:field="*{description}"></textarea> </label><br><br>
                    <p th:errors="*{description}" class="error"></p>
                </fieldset>
            </div>


            <div class="selectIngredientInDrinkAdd">
                <fieldset>
                    <legend>Choose ingredients</legend>
                    <div class="columnOfIngredeintsSelect">

                        <div class="ingredientSelect">
                            <label for="ingredient">Ingredient 1 &nbsp</label>
                            <select id="ingredient" th:field="*{ingredients}" name="ingredients">
                                <option value="1" hidden>Choose ingredient</option>
                                <option th:each="ingredient: ${allIngredients}" th:value="${ingredient.id}"
                                        th:text="${ingredient.name}" name="ingredientId"></option>
                            </select>
                        </div>

                                        <div class="ingredientSelect">
                                            <label for="ingredient1">Ingredient 2  &nbsp</label>
                                            <select id="ingredient1" th:field="*{ingredients}" required>
                                                <option value="1" hidden>Choose ingredient</option>
                                                <option th:each="ingredient: ${allIngredients}"  th:value="${ingredient.id}" th:text="${ingredient.name}"></option>
                                            </select>
                                        </div>

                                        <div class="ingredientSelect">
                                            <label for="ingredient2">Ingredient 3 &nbsp</label>
                                            <select id="ingredient2" th:field="*{ingredients}">
                                                <option value="1" hidden>Choose ingredient</option>
                                                <option th:each="ingredient: ${allIngredients}"  th:value="${ingredient.id}" th:text="${ingredient.name}"></option>
                                            </select>
                                        </div>

                    </div>

<!--                    <div class="columnOfIngredeintsSelect">-->

<!--                                            <div class="ingredientSelect">-->
<!--                                                <label for="ingredient3">Składnik 4 &nbsp</label>-->
<!--                                                <select id="ingredient3" th:field="*{ingredients}" required>-->
<!--                                                    <option value="" hidden>Wybierz składnik4</option>-->
<!--                                                    <option th:each="ingredient: ${allIngredients}"  th:value="${ingredient.id}" th:text="${ingredient.name}"></option>-->
<!--                                                </select>-->
<!--                                            </div>-->

<!--                                            <div class="ingredientSelect">-->
<!--                                                <label for="ingredient4">Składnik 4 &nbsp</label>-->
<!--                                                <select id="ingredient4" th:field="*{ingredients}" required>-->
<!--                                                    <option value="" hidden>Wybierz składnik5</option>-->
<!--                                                    <option th:each="ingredient: ${allIngredients}"  th:value="${ingredient.id}" th:text="${ingredient.name}"></option>-->
<!--                                                </select>-->
<!--                                            </div>-->


<!--                    </div>-->


                </fieldset>


            </div>
            <input class="addButton" type="submit" value="Dodaj">
        </fieldset>

    </div>

    <div class="navBar">
  <span class="navItems">
    <a class="navItemsLinks" href="/add-drink">Add New Drink</a>
  </span>
        <span class="navItems">
    <a class="navItemsLinks" href="/add-ingredient">Add New Ingredient</a>
  </span>
        <span class="navItems">
    <a class="navItemsLinks" href="/drinks">Drinks</a>
  </span>
        <span class="navItems">
    <a class="navItemsLinks" href="/ingredients">Ingredients</a>
  </span>
    </div>


</form>
</body>
</html>