<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
<h2>Home Page</h2>

<div class="navBar">
  <span class="navItems">
    <a class="navItemsLinks" href="/add-drink">Add New Drink</a>
  </span>
    <span class="navItems">
    <a class="navItemsLinks" href="/add-ingredient">Add New Ingredient</a>
  </span>
    <span class="navItems">
    <a class="navItemsLinks" href="/drinks">Drinks</a>
  </span>
    <span class="navItems">
    <a class="navItemsLinks" href="/ingredients">Ingredients</a>
  </span>
</div>
</body>
</html>