<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<div clas="wrapper">
    <div>
        <h2 th:text="*{ingredient.name}" ></h2>
    </div>

    <div class="ingredientDescBox">
        <h1>Description</h1>
        <p class="ingredientDescription" th:text="${ingredient.description}"></p>
    </div>

    <div class="ingredientDescBox">
        <h1>Unit of Measure</h1>
        <p class="ingredientDescription" th:text="${ingredient.uOm}"></p>
    </div>

    <div class="ingredientDescBox">
        <h1>Quantity</h1>
        <p class="ingredientDescription" th:text="${ingredient.quantity}"></p>
    </div>

    <!--- Zamienić na tabelę, dodać "zobacz" prowadzący do detali drinka --->

    <div class="ingredientDescBox">

        <h1>You'll find it in drinks:</h1>

            <table>
                <tr th:each="drink: ${ingredient.drinks}" >
                    <td class="relatedItemNameOnList" th:text=" ${drink.name}"></td>
                    <td class="editRelatedItemOnListLink">
                        <a class="editRelatedItemOnListLink" th:href="@{'/drink/{id}'(id=${ingredient.drinks.listIterator().next().id})}">View</a>
                    </td>
                </tr>
            </table>

<!--        <h1>TEST</h1>-->
<!--        <p th:text="${ingredient.drinks.listIterator().next().name}"></p>-->




<!--        <h1>You'll find it in drinks</h1>-->
<!--        <ul th:field="${ingredient.drinks}">-->
<!--            <li th:each="drink: ${ingredient.drinks}" th:text="${ingredient.drinks.listIterator().next().name}"> </li>-->
<!--        </ul>-->
    </div>

    <div class="navBar">
  <span class="navItems">
    <a class="navItemsLinks" href="/add-drink">Add New Drink</a>
  </span>
        <span class="navItems">
    <a class="navItemsLinks" href="/add-ingredient">Add New Ingredient</a>
  </span>
        <span class="navItems">
    <a class="navItemsLinks" href="/drinks">Drinks</a>
  </span>
        <span class="navItems">
    <a class="navItemsLinks" href="/ingredients">Ingredients</a>
  </span>
    </div>

</div>



</body>
</html>