<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Ingredients</title>
</head>
<body>
<h2>Ingredients</h2>
<table>
<tr th:each="ingredient: ${ingredients}" >
<!--  <td class="noDisplay" th:if="${ingredient.id == 1}"></td>-->
  <td class="itemNameOnList"  th:if="${ingredient.id != 1}" th:text="${ingredient.name}"></td>
  <td class="editItemOnList" th:if="${ingredient.id != 1}">
    <a class="editItemOnListLink" th:href="@{'/ingredient/{id}'(id=${ingredient.id})}">View</a>
  </td>
<!--  <td th:each="ingredient: ${ingredients}" th:text="${ingredient.name}"></td>-->
</tr>

</table>

<div class="navBar">
  <span class="navItems">
    <a class="navItemsLinks" href="/add-drink">Add New Drink</a>
  </span>
  <span class="navItems">
    <a class="navItemsLinks" href="/add-ingredient">Add New Ingredient</a>
  </span>
  <span class="navItems">
    <a class="navItemsLinks" href="/drinks">Drinks</a>
  </span>
  <span class="navItems">
    <a class="navItemsLinks" href="/ingredients">Ingredients</a>
  </span>
</div>








<!--<ul>-->
<!--  <li th:each="ingredient: ${ingredients}" th:text="${ingredient.getId() + ' ||  ' + ingredient.getName() + ' || ' + ingredient.getDrinks()}"></li>-->
<!--</ul>-->


</body>
</html>
