<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<div clas="wrapper">
    <div>
        <h2 th:text="*{ingredient.name}"></h2>
    </div>

    <div class="ingredientDescBox">
        <h1>Description</h1>
        <p class="ingredientDescription" th:text="${ingredient.description}"></p>
    </div>

    <div class="ingredientDescBox">
        <h1>Unit of Measure</h1>
        <p class="ingredientProperties" th:text="${ingredient.uOm}"></p>
    </div>

    <div class="ingredientDescBox">
        <h1>Quantity</h1>
        <p class="ingredientProperties" th:text="${ingredient.quantity}"></p>
    </div>

    <!--- Zamienić na tabelę, dodać "zobacz" prowadzący do detali drinka --->

    <div class="ingredientDescBox">

        <div class="noDisplay" th:if="*{ingredient.drinks.isEmpty()}"></div>
        <h1 th:unless="*{ingredient.drinks.isEmpty()}">You'll find it in drinks</h1>


        <table th:object="${ingredient}">
            <div class="noDisplay" th:if="*{drinks.isEmpty()}"></div>
            <tr th:unless="*{drinks.isEmpty()}" th:each="drink: *{drinks}">
                <td class="relatedItemNameOnList" th:text=" ${drink.name}"></td>
                <td class="editRelatedItemOnListLink">
                    <a class="editRelatedItemOnListLink" th:href="@{'/drink/{id}'(id=${drink.id})}">View</a>
                </td>
            </tr>
        </table>


    </div>

    <div class="navBar">
        <fieldset>
            <legend><a class="navItemsLinksMenu" href="/">Menu</a></legend>
            <span class="navItems">
    <a class="navItemsLinks" href="/add-drink">New Drink</a>
  </span>
            <span class="navItems">
    <a class="navItemsLinks" href="/add-ingredient">New Ingredient</a>
  </span>
            <span class="navItems">
    <a class="navItemsLinks" href="/drinks">Drinks</a>
  </span>
            <span class="navItems">
    <a class="navItemsLinks" href="/ingredients">Ingredients</a>
  </span>
        </fieldset>

    </div>

</div>


</body>
</html>