<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>add_ingredient</title>
</head>
<body>


<form action="" method="post" th:object="${ingredient}">
    <fieldset>
        <legend>Dodaj składnik</legend>
        <label>Nazwa <br> <input th:field="*{name}" name="name"></label> <br><br>
        <label>Opis: <br>
            <textarea th:field="*{description}" id="opis"></textarea></label><br><br>

        <label>Ilość <br> <input th:field="*{quantity}"> </label> <br><br>
        <label>Jednostka miary <br> <input th:field="*{uOm}"> </label> <br><br>
        <input type="submit" value="Wyślij">
    </fieldset>

</form>
</body>
</html>