<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Ingredients</title>
</head>
<body>
<h2>Składniki</h2>
<table>
<tr th:each="ingredient: ${ingredients}" >
  <td class="itemNameOnList" th:text="${ingredient.name}"></td>
  <td class="editItemOnList">
    <a class="editItemOnListLink" th:href="@{'/ingredient/{id}'(id=${ingredient.id})}">View</a>
  </td>
<!--  <td th:each="ingredient: ${ingredients}" th:text="${ingredient.name}"></td>-->
</tr>

</table>








<!--<ul>-->
<!--  <li th:each="ingredient: ${ingredients}" th:text="${ingredient.getId() + ' ||  ' + ingredient.getName() + ' || ' + ingredient.getDrinks()}"></li>-->
<!--</ul>-->


</body>
</html>
