<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css">
    <title>add_ingredient</title>
</head>
<body>


<form action="" method="post" th:object="${ingredient}">

    <h2>Add Ingredient</h2>
    <fieldset>
        <legend>Ingredient Detail</legend>
        <label>Name <br> <input class="detailsOfItem" th:field="*{name}" name="name"></label> <br><br>
        <p th:errors="*{name}" class="error"></p>
        <label>Description <br>
            <textarea th:field="*{description}" id="opis"></textarea></label><br><br>
        <p th:errors="*{description}" class="error"></p>

        <label>Quantity <br> <input class="detailsOfItem" th:field="*{quantity}"> </label> <br><br>
        <p th:errors="*{quantity}" class="error"></p>
        <label>Unit of measure <br> <input class="detailsOfItem" th:field="*{uOm}"> </label> <br><br>
        <p th:errors="*{uOm}" class="error"></p>
        <input class="addButton" type="submit" value="Dodaj">
    </fieldset>

</form>

<div class="navBar">
  <span class="navItems">
    <a class="navItemsLinks" href="/add-drink">Add New Drink</a>
  </span>
    <span class="navItems">
    <a class="navItemsLinks" href="/add-ingredient">Add New Ingredient</a>
  </span>
    <span class="navItems">
    <a class="navItemsLinks" href="/drinks">Drinks</a>
  </span>
    <span class="navItems">
    <a class="navItemsLinks" href="/ingredients">Ingredients</a>
  </span>
</div>

</body>
</html>