body
{
    margin: 15px;
    padding: 0px 60px;
    background-color: #29201B;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;

}

h1
{
    font-size: 25px;
    font-weight: 200;
    color: #FA7C00;
    margin-bottom: 20px;
    text-align: left;
}

h2
{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: #FA7C00;

}

.row
{
    margin: 20px 10px
}

.col
{
    display: inline-block;
    margin: 0 10px;
}

.ingredientDescription
{
    margin-right: 40%;
    display: block;

    text-align: justify;
}

.ingredientDescBox
{
    margin: 45px;

}
.addButton
{
    display: block;
    height: 35px;
    width: 120px;
    background: wheat;
    color: #FA7C00;
    font-weight: 850;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    /*border: 2px solid rgba(33, 68, 72, 0.59);*/
}

label
{
    font-weight: 200;
    color: #FA7C00;
    margin-bottom: 10px;
    padding: 8px;
}

legend
{
    font-weight: 400;
    color: #FA7C00;
    font-size: 35px;

}

fieldset
{
    margin: 10px;
}

/*dodawanie drinka*/
.selectIngredientInDrinkAdd
{
    margin: 25px;
    padding: 5px;
}

.createNewDrink
{
    margin: 25px;
    padding: 5px;
}

.ingredientSelect
{
    margin: 8px;
}
.columnOfIngredeintsSelect
{
    float: left;
    margin-right: 15px;
}
/*inputy*/
.detailsOfItem
{
    width: 250px;
    height: 30px;
    border-radius: 5px;
}

textarea
{
    width: 450px;
    height: 85px;
    border-radius: 5px;
}

/*lista składników*/
.editItemOnList
{
    padding: 12px;

}

.editItemOnListLink
{
    text-decoration: none;
    margin-left: 40px;
    color: burlywood;
    font-size: 20px;
}

.editItemOnListLink:hover
{
    color: chocolate;
}

.itemNameOnList
{
    font-size: 27px;
    color: #FA7C00;
}

/*lista drinków na widoku skałdnika*/
.relatedItemNameOnList
{
    font-size: 20px;
    color: #FA7C00;
    font-weight: 50;
    padding: 4px;
}

.editRelatedItemOnListLink
{
    text-decoration: none;
    margin-left: 45px;
    color: burlywood;
    font-size: 17px;
    padding: 4px;
}

.editRelatedItemOnListLink:hover
{
    color: chocolate;
}

/*.fieldsetForRelatedDrinks*/
/*{*/
/*    margin-right: 45%;*/
/*}*/

.editDrinkButtons
{
    margin: 20px;

}

.drinkOperationButton
{
    /*display: block;*/
    height: 30px;
    width: 105px;
    background: lightgrey;
    /*color: #FA7C00;*/
    /*font-weight: 850;*/
    /*font-size: 20px;*/
    margin-top: 55px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.editDrinkOperationButtonLink
{
    text-decoration: none;
    font-size: 19px;
    font-weight: 550;
    color: #FA7C00;
    padding: 6px;
}

.editDrinkOperationButtonLink:hover
{
    color: chocolate;
}

.navBar
{
    margin-top: 150px;
    margin-left: 650px;
    margin-right: 650px;
    margin-bottom: 100px;
}

.navItems
{

    margin-left: 3px;
    padding: 3px;
}


.navItemsLinks
{
    text-decoration: none;
    color: #FA7C00;
    font-size: 17px;
}