body
{
    margin: 15px;
    padding: 0px 60px;
    background-color: #29201B;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;

}

h1
{
    font-size: 25px;
    font-weight: 200;
    color: #FA7C00;
    margin-bottom: 20px;
    text-align: left;
}

h2
{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: #FA7C00;

}

.row
{
    margin: 20px 10px
}

.col
{
    display: inline-block;
    margin: 0 10px;
}

.ingredientDescription
{
    margin-right: 40%;
    display: block;

    text-align: justify;
}

.ingredientDescBox
{
    margin: 45px;

}
.addButton
{
    display: block;
    height: 35px;
    width: 120px;
    background: wheat;
    color: #FA7C00;
    font-weight: 850;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    /*border: 2px solid rgba(33, 68, 72, 0.59);*/
}

label
{
    font-weight: 200;
    color: #FA7C00;
    margin-bottom: 10px;
    padding: 8px;
}

legend
{
    font-weight: 400;
    color: #FA7C00;
    font-size: 35px;

}

fieldset
{
    margin: 10px;
}

/*dodawanie drinka*/
.selectIngredientInDrinkAdd
{
    margin: 25px;
    padding: 5px;
}

.createNewDrink
{
    margin: 25px;
    padding: 5px;
}

/*inputy*/
.detailsOfItem
{
    width: 250px;
    height: 30px;
    border-radius: 5px;
}

textarea
{
    width: 450px;
    height: 85px;
    border-radius: 5px;

}
.ingredientSelect
{
margin: 8px;
}
.columnOfIngredeintsSelect
{
    float: left;
    margin-right: 15px;
}